<h1>Teams</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Group</th>
    <th>Actions</th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.name %></td>
    <td><%= team.group %></td>
    <td>
		<% if is_super_admin?(current_user.login) -%>
    	<%= link_to 'Edit', edit_team_path(team) %> |
    	<%= link_to 'Delete', team, confirm: "Are you sure you want to delete #{team.name}?", method: :delete %>
		<% end %>
	</td>
  </tr>
<% end %>
</table>

<br />

<% if is_super_admin?(current_user.login) -%>
<%= link_to 'New Team', new_team_path, :class => "button" %>
<% end %>
