<h1>Listing quarters</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @quarters.each do |quarter| %>
  <tr>
    <td><%= quarter.name %></td>
    <td><%= link_to 'Show', quarter %></td>
    <td><%= link_to 'Edit', edit_quarter_path(quarter) %></td>
    <td><%= link_to 'Destroy', quarter, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quarter', new_quarter_path %>
