<%= form_for([@initiative.quarter, @initiative]) do |f| %>
  <% if @initiative.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@initiative.errors.count, "error") %> prohibited this initiative from being saved:</h2>

      <ul>
      <% @initiative.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :priority %>
    <%= f.number_field :priority, :min => 0 %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => "button" %>
  </div>
<% end %>
