<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @initiative.name %>
</p>

<p>
  <b>Priority:</b>
  <%= @initiative.priority %>
</p>

<p>
  <b>Quarter:</b>
  <%= @initiative.quarter %>
</p>


<%= link_to 'Edit', edit_initiative_path(@initiative) %> |
<%= link_to 'Back', initiatives_path %>
